# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python virtual environment and cache
backend/api/health_app_venv
backend/api/__pycache__

# Node modules and build directories
node_modules
.DS_Store
dist
dist-ssr
coverage

# Cypress directories
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak

# Docker
*.env

# Python
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.pot
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/
*.bak
*.swp
*~
